{% extends "driving_instructor/base.html" %}

{% block content %}

{% if messages %}
{% for message in messages %}
    <div {% if message.tags %}class="alert {{ message.tags }}"{% endif %}>
        {{ message }}
    </div>
{% endfor %}
{% endif %}


<div class='shadow p-4 mb-5 bg-body rounded'>
    <h2>Dodaj Dostępność</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-success" type="submit" value="Dodaj">
        </form>
</div>

<h2>Twoja dodana dostępność</h2>
<ul>
    {% for availability in availabilities %}
        <li>
            {{ availability.date }} - {{ availability.start_time }} do {{ availability.end_time }}
            <a class="btn btn-outline-danger btn-sm" href="{% url 'delete_availability' availability.pk %}" role="button">Usuń</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}
