{% extends "driving_instructor/base.html" %}


{% block content %}

    <h1>Nowe rezerwacje</h1>
    
    <ul>
        {% for reservation in reservations %}
            {% if reservation.is_confirmed == False %}
                <li>
                    <strong>Data:</strong> {{ reservation.date }}<br>
                    <strong>Godzina rozpoczęcia:</strong> {{ reservation.start_time }}<br>
                    <strong>Godzina zakończenia:</strong> {{ reservation.end_time }}<br>
                    <strong>Kursant:</strong> {{ reservation.user.first_name}} {{ reservation.user.last_name }}<br>
                    <strong>Email:</strong> {{ reservation.user.email}}<br>
                    <strong>Komentarz:</strong> {{ reservation.comment|default:"Brak" }}<br>
                    <form method="POST" action="{% url 'instructor_confirm_reservation' reservation.pk %}">
                        {% csrf_token %}
                        <button type="submit">Potwierdź</button>
                    </form>
                    <form method="POST" action="{% url 'instructor_reject_reservation' reservation.pk %}">
                        {% csrf_token %}
                        <button type="submit">Odrzuć</button>
                    </form>
            {% else %}
                <li>Brak nowych rezewacji</li>
            {% endif %}
        {% empty %}
            <li>Brak rezerwacji</li>
        {% endfor %}
    </ul>

    <h2>Potwierdzone</h2>

    <ul>
        {% for reservation in reservations %}
            {% if reservation.is_confirmed %}
                <li>
                    <strong>Potwierdzona:</strong> {{ reservation.is_confirmed }}<br>
                    <strong>Data:</strong> {{ reservation.date }}<br>
                    <strong>Godzina rozpoczęcia:</strong> {{ reservation.start_time }}<br>
                    <strong>Godzina zakończenia:</strong> {{ reservation.end_time }}<br>
                    <strong>Kursant:</strong> {{ reservation.user.first_name}} {{ reservation.user.last_name }}<br>
                    <strong>Email:</strong> {{ reservation.user.email}}<br>
                    <strong>Komentarz:</strong> {{ reservation.comment|default:"Brak" }}<br>
            {% endif %}
        {% empty %}
            <li>Brak rezerwacji</li>
        {% endfor %}
    </ul>

{% endblock %}

