{% extends "driving_instructor/base.html" %}

{% block content %}
    <h1>Szczegóły Instruktora</h1>
    
    <strong>Imię:</strong> {{ instructor_profile.user.first_name }}<br>
    <strong>Nazwisko:</strong> {{ instructor_profile.user.last_name }}<br>
    <strong>Tytuł:</strong> {{ instructor_profile.title }}<br>
    <strong>Zakres pracy:</strong> {{ instructor_profile.work_region }}<br>
    <strong>Cena za 1 godzinę jazdy:</strong> {{ instructor_profile.hourly_rate }} PLN<br>
    <strong>Opis:</strong> {{ instructor_profile.description }}<br>
    <strong>Dane personalne:</strong> {{ instructor_profile.personal_data }}<br>
    <strong>Nazwa firmy:</strong> {{ instructor_profile.company_data }}<br>
    <strong>Region:</strong> {{ instructor_profile.work_region }}<br>
    <h4><strong>Dostępność instruktora:</strong><br></h4>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Start</th>
                <th scope="col">Koniec</th>
                <th scope="col">Akcja</th>
            </tr>
        </thead>

        <tbody>
            {% for availability in availabilities %}
                <tr>
                    <td>{{ availability.date }} </td>
                    <td>{{ availability.start_time }}</td>
                    <td>{{ availability.end_time}}</td>
                    <td><a class="btn btn-outline-success" href="{% url 'reserve_availability' availability.id %}" role="button">Zarezerwuj</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td>Brak dostępności</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}