{% extends "driving_instructor/base.html" %}

{% block content %}

<h1>Dodaj Dostępność</h1>

{% if messages %}
{% for message in messages %}
    <div {% if message.tags %}class="alert {{ message.tags }}"{% endif %}>
        {{ message }}
    </div>
{% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Dodaj">
</form>

<h1>Twoja dodana dostępność</h1>
<ul>
    {% for availability in availabilities %}
        <li>
            {{ availability.date }} - {{ availability.start_time }} do {{ availability.end_time }}
            <a href="{% url 'delete_availability' availability.pk %}"><button>Usuń</button></a>
        </li>
    {% endfor %}
</ul>

{% endblock %}
