{% extends "driving_instructor/base.html" %}

{% block content %}
    <h1>Szczegóły Instruktora</h1>
    
    <strong>Imię:</strong> {{ instructor.user.first_name }}<br>
    <strong>Nazwisko:</strong> {{ instructor.user.last_name }}<br>
    <strong>Tytuł:</strong> {{ instructor.title }}<br>
    <strong>Zakres pracy:</strong> {{ instructor.work_scope }}<br>
    <strong>Cena za 1 godzinę jazdy:</strong> {{ instructor.hourly_rate }} PLN<br>
    <strong>Opis:</strong> {{ instructor.description }}<br>
    <strong>Dane personalne:</strong> {{ instructor.personal_data }}<br>
    <strong>Nazwa firmy:</strong> {{ instructor.company_name }}<br>
    <strong>Region:</strong> {{ instructor.region }}<br>
    <a href="#">Rezerwuj zajęcia (funkcjonalność zostanie dodana w przyszłości)</a>


{% endblock %}